*.txt linguist-vendored
*.docx linguist-vendored
*.pdf linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.gif linguist-vendored
*.xlsx linguist-vendored
*.pptx linguist-vendored
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz linguist-vendored
*.csv linguist-vendored
*.pl linguist-vendored
*.rar filter=lfs diff=lfs merge=lfs -text
