
First Year/First Semester/Sistem Arhitecture/Labs/Laborator6/peda-session-6.txt
First Year/First Semester/Sistem Arhitecture/Labs/Laborator6/6
First Year/First Semester/Sistem Arhitecture/Labs/Laborator6/.gdb_history
First Year/First Semester/Sistem Arhitecture/Labs/Laborator6/8
First Year/First Semester/Sistem Arhitecture/Labs/Laborator6/5
First Year/First Semester/Sistem Arhitecture/Lab Tests/Test 2021/1
First Year/Second Semester/Data Structures/Lab1/Quick Sort/.vscode/tasks.json
First Year/Second Semester/Data Structures/Labs/Lab1/Quick Sort/.idea/modules.xml
First Year/Second Semester/Data Structures/Labs/Lab1/Quick Sort/.idea/Quick Sort.iml
First Year/Second Semester/Data Structures/Labs/Lab1/Quick Sort/.idea/vcs.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/.idea/2023.02.27.iml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/.idea/dictionaries/skpha.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/.idea/inspectionProfiles/Project_Default.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/.idea/modules.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/.idea/vcs.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/main
*.xml
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/main.exe
First Year/Second Semester/Object-oriented programming/Labs/2023.02.27/main.exe
*.exe
First Year/Second Semester/Formal Language and Automata/Labs/Homework 1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 1/.idea/Homework 1.iml
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/CMakeLists.txt
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/Testing/Temporary/LastTest.log
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/TargetDirectories.txt
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/rules.ninja
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/CMakeOutput.log
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/cmake.check_cache
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/clion-environment.txt
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeFiles/2023_03_10.dir/main.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/CMakeCache.txt
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/cmake_install.cmake
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/build.ninja
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.ninja_log
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.ninja_deps
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5ce3972e36e1d8099afd.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/target-2023_03_10-Debug-42fa83857a7efac305e7.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-10T10-30-19-0404.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0756b276fc0e7bc7e6e9.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bfa70fb05db434f3e97d.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c670faac806d36189799.json
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/cmake-build-debug/.cmake/api/v1/query/cache-v2
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/.idea/2023.03.10.iml
First Year/Second Semester/Object-oriented programming/Labs/2023.03.10/.idea/.name
First Year/Second Semester/Data Structures/Labs/Homework 1/.idea/Homework 1.iml
First Year/Second Semester/Data Structures/Labs/Homework 1/main
First Year/Second Semester/Data Structures/Labs/Homework 1/.vscode/tasks.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/.idea/.name
First Year/Second Semester/Object-oriented programming/Labs/Project 1/.idea/Project 1.iml
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/query/cache-v2
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-944ac1f1eb60d0f0ce06.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6757a81ee057586ac825.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-960f87c3f01c2554598d.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-13T18-32-28-0809.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/target-Project_1-Debug-27bda5fe6d9c4fc91c60.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5ce3972e36e1d8099afd.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/build.ninja
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/cmake_install.cmake
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeCache.txt
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/clion-environment.txt
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/cmake.check_cache
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/CMakeOutput.log
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/rules.ninja
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/Testing/Temporary/LastTest.log
First Year/Second Semester/Object-oriented programming/Labs/Project 1/CMakeLists.txt
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/Project_1.dir/main.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.ninja_log
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.ninja_deps
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-17T12-45-46-0160.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ab323c28dbc142bb576c.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-966f73b331a6111f339b.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/Project_1.dir/test.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-17T16-22-45-0577.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/CMakeFiles/Project_1.dir/main_clear_output.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/target-Project_1-Debug-5a7736f6bb28c85696db.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-19T16-13-23-0447.json
First Year/Second Semester/Object-oriented programming/Labs/Project 1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9e4efb44bb941a29db18.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/.idea/.name
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/.idea/Homework 2.iml
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/query/cache-v2
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-6bd0a5903fb43ff4b65d.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f55833f87ff3048b762a.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1b537c0eb0096d295af2.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-26T11-18-03-0865.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/target-Homework_2-Debug-3255e449a875265946e1.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5ce3972e36e1d8099afd.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/build.ninja
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/cmake_install.cmake
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeCache.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/clion-environment.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/cmake.check_cache
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/CMakeOutput.log
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/rules.ninja
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/Testing/Temporary/LastTest.log
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/CMakeLists.txt
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/CMakeFiles/Homework_2.dir/main.cpp.obj
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.ninja_deps
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.ninja_log
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/.vscode/settings.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-26T12-33-31-0709.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6a82fd7e94c5f18b95ce.json
First Year/Second Semester/Formal Language and Automata/Labs/Homework 2/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-26T13-38-49-0527.json
First Year/Second Semester/Data Structures/Seminars/Implementari Seminar 1/.vscode/tasks.json
First Year/Second Semester/Data Structures/Seminars/Implementari Seminar 1/.vscode/settings.json
First Year/Second Semester/Data Structures/Seminars/Implementari Seminar 1/tempCodeRunnerFile.cpp
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/.ninja_deps
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/.ninja_log
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/CMakeFiles/Project_2.dir/main.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/CMakeFiles/Project_2.dir/vc140.pdb
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Project_2.ilk
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Project_2.pdb
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Testing/Temporary/LastTest.log
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/.ninja_deps
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/.ninja_log
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/CMakeFiles/Project_2.dir/main.cpp.obj
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/CMakeFiles/Project_2.dir/vc140.pdb
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Project_2.ilk
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Project_2.pdb
First Year/Second Semester/Object-oriented programming/Labs/Project 2/cmake-build-debug/Testing/Temporary/LastTest.log
