<!-- views/partiale/head.ejs -->

<meta charset="UTF-8">
<title>Template cu EJS</title>
<style>
    body {padding-top:50px;}
    header{width:80%; border:1px solid red;}
    footer{width:80%; border:1px solid blue;}
</style>
