<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Exemplu cu EJS</title>
		
</head>
<body>
<h1><%= title %></h1>
<p><%= continut %></p>

<% var x="<b>paragraf</b>"%>
<p>Primul caz</p>
<%= x %>
<p>Al doilea caz</p>
<%- x %>

</body>
</html>
