<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Forms, ajax, jQuery</title>
<style>

img{position:absolute;right:30px; top:40px;width:100px;height:100px;}
div{position:relative;width:50%;border:1px solid red;}
h2,p{width:40%;}
</style>
	
	
</head>
<body>
<%- include("../partiale/carti") %>
</body>
</html>
