<!-- views/pagini/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partiale/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partiale/header'); %>
</header>

<main>
    <div>
        <h1>EJS</h1>
        <p>EJS este un view engine utilizat pentru template-uri</p>
    </div>
</main>

<footer>
    <%- include('../partiale/footer'); %>
</footer>

</body>
</html>

