<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Forms, ajax, jQuery</title>
	
</head>
<body>


<p><b><%= mesaj %></b></p>

<form id="testform" method="post" action="/login_post">
 
<p> <label>Username:</label> <input type="text" name="username"> </p>
<p> <label>Parola:</label><input type="password" name="parola"></p>
<p><button type="submit" id="buton">Login </button> </p>
</form>


</body>
</html>
