<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Forms, ajax, jQuery</title>
<script>
window.onload=function()
{

document.getElementById('buton').onclick=function(){window.location="/logout";}

}
</script>	
	
	
</head>
<body>

<article id="info">
<p> Ai fost logat cu numele</p>
<p><%= nume %></p>

</article>


 
<p><button type="button" id="buton"> Logout </button> </p>


</body>
</html>
