<!DOCTYPE html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>EJS</title>
<style>

img{position:absolute;right:30px; top:40px;width:100px; height:50px;}
div{position:relative;width:50%;border:1px solid red;}
p{width:40%;}
h2{width:40%; color: blue;}
</style>
</head>
<body>

<article id="info">
<h1>Produsele mele</h1>

<!--aici se va adauga codul ejs -->
 
</article>

</body>
</html>
